body
{
    margin:0;
    overflow-x:hidden;
    background-color: silver;
}
header
{
    width:100%;
    display:table;
    background-color:black;
    margin-bottom:50px
}
.container
{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto
}

@media (min-width: 1200px) {
    .container{max-width:1140px}
}

#logo
{
    float: left;
    font-size:25px;
    text-transform:uppercase;
    color:darkgrey;
    font-weight:600;
    text-decoration:none;
    padding:11px 0
}

input[type=checkbox],label
{
    display:none
}

* {box-sizing: border-box}

.container {
    padding: 16px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

a {
    text-decoration: none;
    color:white;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.before-footer
{
    width: 100%;
    height: 43px;
    display: block;
    clear: both;
}

footer {
    left: 0;
    bottom: 0;
    height: 44px;

    width: 100%;
    color: silver;
    background-color: black;
    position: relative;
    text-align: center;
}